<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/navigation.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="/css/myCourse.css" />
    <link rel="shortcut icon" href="/image/logo.png" />
    <title>Learningverse</title>
  </head>
  <body>
    <%- include("partials/navigation") %> <%- include("partials/member") %>
    <main class="container">
      <div class="left_panel scrollbar"></div>
      <div class="main_panel scrollbar">
        <div class="main_panel__title"></div>
        <div class="main_panel__content">
          <form id="course__form" class="elem--hide">
            <div class="form__item">
              <label class="form__label"
                >課程名稱：<input
                  name="name"
                  type="text"
                  maxlength="20"
                  required
                /><span>（限20字）</span></label
              >
            </div>
            <div class="form__item">
              <label class="form__label"
                >課程簡介：<input
                  name="introduction"
                  type="text"
                  maxlength="100"
                  required
                /><span>（限100字）</span></label
              >
            </div>
            <div>
              <div class="form__item">
                <label
                  >上課時間： 每周
                  <select id="course_time__weekday" class="form__select">
                    <% for (let i = 1; i <= 7; i++) { %>
                    <option value="<%= getWeekday(i) %>">
                      <%= getWeekday(i) %>
                    </option>
                    <% } %>
                  </select>
                  <select id="course_time__time" class="form__select">
                    <option value="10:00~12:00">10:00~12:00</option>
                    <option value="14:00~16:00">14:00~16:00</option>
                    <option value="19:00~21:00">19:00~21:00</option>
                  </select>
                </label>
                <input class="time__submit" type="submit" value="新增" />
              </div>
              <div class="time_selected"></div>
            </div>
            <div class="form__item">
              <label class="form__label"
                >課程大綱：<textarea
                  name="outline"
                  maxlength="500"
                  rows="5"
                  cols="50"
                  style="vertical-align: top"
                  required
                ></textarea
                ><span>（限500字）</span></label
              >
            </div>
            <input class="form__submit" type="submit" value="送出" />
            <span class="error_msg elem--hide">送出失敗，請稍後再試</span>
          </form>
        </div>
      </div>
    </main>
    <%- include("partials/footer") %>
    <script type="text/javascript" src="/js/navigation.js"></script>
    <script type="text/javascript" src="/js/ajax.js"></script>
    <script type="text/javascript" src="/js/myCourse.js"></script>
  </body>
</html>
